h1{
    color:purple;
}

.container{
    border-style: dotted;
    border-color: black;
    display: flex;
    flex-wrap: wrap;
    width:200px;
    height: 200px;
}

.square{
    width: 50px;
    height: 50px;
    
}

.square:hover{
    background-color: pink;
}

.active{
    background-color: black;
}

