h1, #announcement{
    display: flex;
    justify-content: center;
}

h1{
    color:purple;
}

.container{
    border-style: solid;
    border-color: black;
    display: flex;
    flex-wrap: wrap;
    width:480px;
    height: 480px;

}

.controls, #announcement{
    margin-bottom: 20px;
}

.controls, .etchBoard{
    display:flex;
    justify-content: center;
}

.square{

    
}

.square:hover{
    background-color: pink;
}

.active{
    background-color: black;
}

